<% provide(:title, "Search") %>
<h1>how-many-of-me</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <p>
    Try typing your name to find out how many people in the US share it with you
</p>
<%= form_tag "/results"  do %>
  <%= label_tag "First Name" %>
  <%= text_field_tag :fname %>

  <%= label_tag "Last Name" %>
  <%= text_field_tag :lname %>

  <%= submit_tag "Search For Name", class: "btn btn-primary" %>

<% end  %>
  </div>
</div>